.top-1 {
	height : 80px;
}

.icon {
	position: relative;
	top : 13px;
	float : left;
}

.search {
	width : 83%;
	height : 40px;
	position : relative;
	top : 25px;
	left : 65px;
}
.search-i {
	position : relative;
	top : 5px;
	left : 90%;
	z-index: 1;
}
input {
	position : absolute;
	left : 0px;
	border-radius : 20px;
	height : 90%;
	width : 100%;
	padding-left: 20px;
}
.login {
	 position: relative;
	 left : 88%;
	 bottom : 20px;
}

.top-2 {
	height : 27px;
	width: 100%;
}

.menu{
    position: relative;
    margin: 0 auto 0 0;
    list-style: none;
}
    
.menu li{
      font-size: 0.9375em;
      padding: 5px 15px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      padding: 0px;
    }
    
.menu li a{
     padding: 8px;
}
.menu li a span{
	 padding: 8px;
}
.active{
     font-weight: bold;
     border-bottom: 2px solid #a00;
     color: #a00;
}