.top-1 {
	height : 80px;
}
.icon {
	position: relative;
	float : left;
}
.search {
	width : 70%;
	height : 40px;
	position : relative;
	top: 10px;
	left : 65px;
	background-color : #f4f4f4;
	border-radius : 30px;
}
.search a{
	width : 100%;
}
.search-i {
	position : relative;
	top : 5px;
	left : 85%;
	z-index: 1;
}
.login {
	 position: relative;
	 left : 88%;
	 bottom : 30px;
}

.top-2 {
    position: relative;
    height: 27px;
    width: 100%;
    bottom: 25px;
}

.menu {
 	position: relative;
	list-style-type: none;
	bottom : 11px;
}
.m {
	display: inline-block;
	margin-right: 20px;
}   
#underline {
	position: absolute;
	height: 2px;
	color : #ff5a0b;
	background-color: #ff5a0b;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out; 
}