a {text-decoration-line: none;}
.mypage-top{
	position: fixed;
    top: 0;
    width: 100%;
    max-width: 1000px;
    z-index: 800;
    display: block;
    height: 70px;
    background-color: #fff;
    box-shadow: none;
    -webkit-transform: translateZ(0);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.middle{
	width : 100%;
	height : 50px;
	margin-top: 3px;
}
.left {
	float : left;
	padding-left : 15px;
}
.left-icon{
	position : relative;
	top : 5px;
}
.back{
	position : relative;
	bottom : 5px;
    width: 40px;
    height: 40px;
}
.title{
	position : relative;
	top : 5px; 
    width :100px;
    height : 30px;
	margin : 0 auto;
	font-size : 20px;
	text-align: center;
	font-weight: bold;
}
.screen{
	height : 78px;
}
.login {
	padding-left : 15px;
	width : 100%;
	height : 40px;
}
.login button {
	position : relative;
	left : 750px;
}
.money {
	width : 100%;
	height : 100px;
}
.money-main {
	width : 96%;
	height : 80px;
	background-color : #e5e5e5;
	margin : 0 auto;
	border-radius : 15px;
}
.cash {
	width : 500px;
	height : 30px;
	position : relative;
	top : 25px;
	left : 20px;
}
.cash li{
	font-size : 20px;
	position : relative;
	bottom : 7px;
}
.cash-won {
	padding-left : 10px;
}
.mypage-cate {
	width : 100%;
	height : 130px;
	border-bottom:5px solid #e1e1e1;
}
.mypage-cate a:hover .bot-my p {
	color : red;
}
.bot-my {
	float : left;
	height : 100%;
	width : 248px;
	text-align: center;
}
.bot-my p{
	font-size : 20px;
	color : black;
}
.customer-btn {
	width : 100%;
	height : 80px;
	border-bottom: 2px solid #e7e7e7;
}
.customer-btn li{
	font-size: 25px;
    position: relative;
    top: 20px;
    left: 30px;
    font-weight
}
.right {
    position: relative;
    left: 80%;
    top: 17px;
}
.save{
	width : 100%;
	height: 380px;
	border-bottom:5px solid #e1e1e1;
}
.save-title {
	font-size : 18px;
	padding-left : 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 700;
}
.save button {
	margin-left: 680px;
}
.save-list {
	width : 100%;
	height: 320px;
	box-sizing: border-box;
	padding-left: 10px;
}
.warning {
    padding: 80px 16px 140px;
    text-align: center;
    background-color: #fff;
    padding-bottom: 77px;
}
.warning p{
	font-size: 20px;
    line-height: 19px;
    font-weight: 400;
    color: #777;
}
.save-info{
	margin-left : 10px;
	color : darkgray;
}
.swiper-slide {
	cursor: pointer;
}
.product{
	width: 200px !important;
	margin-right: 15px;
}
.pro-img img {
	width : 100%;
    height : 100%;
    object-fit: scale-down;
}
.pro-name {
	height: 50px;
	margin: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color : black;
}
.pro-price {
	height: 50px;
	margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  .pro-price .price1 {
    order: 1;
    align-self: flex-start;
    font-size: 20px;
    color: red;
    font-weight: bold;
  }
  .pro-price .price2 {
    order: 2;
    align-self: center;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    color : black;
  }
  .pro-price .price3 {
    order: 3;
    text-decoration: line-through;
	color: darkgray;
    font-weight: 600;
  }
  .star {
  	order : 4;
  	font-weight: bold;
    font-size: 17px;
    color : black;
  }
.customer{
	width : 100%;
	height: 230px;
}
.hidden{
	display : none;
}
.n-table {
    width: 100%;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    line-height: 1.5;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
}
.n-table.table-row th {
    text-align: left;
    font-weight: normal;
    vertical-align: top;
}.n-table.table-row th, .n-table.table-row td {
    height: auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-top: 1px solid #f1f1f1;
    border-bottom: none;
    font-size: 14px;
    text-align: left;
}
.n-table.table-row th {
    padding-left: 20px; /* �뜝�럩�쐸�뜝�럥由��뜝�럥裕� �뤆�룄�뫅�댆�룞�삕占쎈さ�슖�댙�삕 �댖怨뚰�ｏ옙�젧�뜝�럥由��뜝�럡�돪�뜝�럩�뭵 */
}
.n-table.table-row tr:first-child th, .n-table.table-row tr:first-child td {
    border-top: none;
}
.n-btn.w100 {
    min-width: 100px;
}
.n-btn.btn-default {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #000000;
}
.n-btn.btn-sm {
    min-width: 70px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif !important;
}
.n-btn:visited {
    color: #ffffff;
}

