.na-title {
	font-size: 25px;
    font-weight: bold;
    margin: 20px;
    line-height: 15px;
}
.na-title img{
	position: absolute;
    top: 92px;
}
.na {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/*카테고리*/
#category{
	width: 100%;
	height : 90px;
	box-sizing: border-box;
	background-color : white;
	border-bottom : 1px solid #e1e1e1;
}
#category.fixed {
    position: fixed;
    top: 92px;
    width: 1000px; /* 상단 고정바가 전체 너비를 차지하도록 설정 */
}
.swiper-slide {
	cursor: pointer;
}
.product{
	width: 100px !important;
}
.product a{
	display: block; 
	text-align: center; 
	width : 100%;
	height : 100%;
}
.product .cate-icon{
	width : 60px;
	height : 60px;
	margin-left : 20px;
	margin-top : 5px;
}
.product .text { 
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1em;
    color: #333;
}
/*나열 버튼*/
.items-order{
	display:inline-flex;
}
.items-order button.item-active {
    color: #fa4400;
    border-color: #fa4400;
}
.items-order button {
	border: 2px solid #e1e1e1;
    border-radius: 30px;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
    color: #e1e1e1;
}
.pop-order{
	margin-top: 10px;
    margin-left: 12px;
}
.recent-order{
	margin-top: 10px;
	margin-left:10px;
}
.sale-order{
	margin: 10px;
	margin-left:10px;
}
/*카테고리 메인*/
.cate-main{
	display: flex;
	flex-wrap: wrap;
	width : 100%;
}
.cate-name{
	text-align: center;
	font-weight:bold ;
	font-size : 14px;
	color : #787878;
}
.click{
	color : #ff5a0b;
	text-decoration: underline #ff5a0b;
	text-underline-offset : 6px;
	text-decoration-thickness : 4px;
	z-index : 9000;
}
/*카테고리 게시글*/
.cate-product{
	background-color : white;
    height: 442px;
    width: 333px;
    box-sizing: border-box;
} 
.pro-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.pro-img{
	width : 300px;
	height : 300px;
	margin-left : 15px;
	margin-top : 10px; 
}
.pro-timesale {
	width: 280px;
    height: 25px;
    margin-left: 22px;
    font-size: 23px;
    color: #4a15d3;
    text-align: center;
}
.pro-timesale img{
	position: relative;
    width: 10%;
    top: 5px;
}
.pro-name{
	width : 280px;
	margin-top : 10px;
	margin-left : 22px;
	height : 50px;
	overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
	text-overflow: ellipsis; /* 넘치는 텍스트를 ... 으로 표시 */
	display: -webkit-box;
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
	color : black;
	font-weight: 500;
	text-overflow: ellipsis; 
}
.pro-price{
	width : 300px;
	height : 50px;
	margin-left : 15px;
	}
.price1{
	position : relative;
	left : 10px;
	bottom : 5px;
	font-size : 15px;
	text-decoration: line-through;
	color: darkgray;
    font-weight: 600;
    width: 100px;
}
.price2{
	position : relative;
	top : 20px;
	right: 95px;
	font-size : 20px;
	color : red;
	font-weight: bold;
}
.price3{
	position : relative;
	top : 20px;
	right: 92px;
	font-size : 20px;
	color: black;
    font-weight: bold;
}
.pro-info{
    width: 100px;
    height: 100%;
    position: relative;
    bottom: 7px;
    left: 235px;
}
.pro-info li{
	font-weight: bold;
    font-size: 17px;
}
.line {
	position : relative;
	bottom: 25px;
	width : 95%;
	height : 2px;
	margin : 0 auto;
	border-radius : 2px;
	background-color : #e1e1e1;
}