.aaa{
	height : 100%;
}
.home{
	position: relative;
    left: 30px;
}
.top-post-img {
	position: relative;
	top : 10px;
	left : 50px;
	border-radius : 8px;
	visibility: hidden;
}
.top-post-name{
	position: relative;
    top: 0;
    left: 50px;
    width : 500px;
    font-size: 20px;
    text-overflow: ellipsis;   
    visibility: hidden;
}
.search {
	position: relative;
	top: 8px;
    left: 250px;
}
.basket {
	position: relative;
	top: 8px;
    left: 250px;
}
#top-menu {
    width: 1000px;
    height: 80px;
    position: fixed;
    top: 0;
    background: linear-gradient(#000 0%, rgba(0, 0, 0, 0) 100%);
    z-index : 9999;
}
.post-img {
    margin-top: -100px;
    width: 100%;
    height: 1000px;
}
.post-img img{
  width: 100%;
  height: 100%;
}
.event {
	width : 100%;
	height : 30px;
	padding-top: 4px;
	text-align: center;
	font-weight: 700;
	background-color : #f1f1f1;
}
.price{
	width : 100%;
	height : 100%;
}
.price-info {
	display : flex;
}
.pro-name {
	padding-left: 14px;
    font-size: 20px;
}
.sale {
	width: 105px;
	padding-left : 15px;
}
.price-s {
	color : red;
    font-size: 58px;
    font-weight: bold;
}
.price-s2 {
	color : red;
    font-size: 31px;
    font-weight: bold;
}
.price-won{
	width: 160px;
	height: 69px;
	margin-top: 10px;
}
.price-w{
	font-size: 20px;
    color: #b6b6b6;
    text-decoration: line-through;;
}
.price-sw{
    color: black;
    position: relative;
    bottom: 10px;
    font-size: 30px;
    font-weight : bold;
}
.star {
	height : 100%;
	position: relative;
    left: 620px;
    top: 15px;
}
.heart{
	height: 100%;
    position: relative;
    top: 50px;
    left: 535px;
}
.product-name{
	width : 100%;
	height: 100%;
}
.pro-name {
	font-size: 25px;
}
.line {
	width : 98%;
	height : 1px;
	margin : 0 auto;
	border-radius : 2px;
	background-color : #e1e1e1;
}
.group-buy{
	flex-wrap: wrap;
	width : 100%;
	height : 250px;
	margin-top: 16px;
}
.group-title{
	padding-left : 12px;
	font-weight: 500;
}
.group{
	float: left;
    height: 40px;
    width: 100%;
    padding: 22px;
    box-sizing: border-box;
}
.group-user{
	position : relative;
	bottom: 13px;
}
.line2{
	width : 100%;
	height : 8px;
	background-color : #e1e1e1;
}
#product-menu{
	width : 100%;
	height : 50px;
	background-color : white;
}
#product-menu.fixed {
    position: fixed;
    top: 80px;
    width: 1000px; /* 상단 고정바가 전체 너비를 차지하도록 설정 */
    height : 50px;
    z-index: 9999; /* 다른 요소 위에 오도록 설정 */
}
.product-info li{
	padding-left : 97px;
	padding-right : 125px;
	font-size : 20px;
	cursor: pointer;
}
.product-info span{
	font-size : 20px;
	font-weight: 600;	
}
#info-btn {
	color : #ff5a0b;
	text-decoration : underline;
  	text-underline-offset : 9px;
  	text-decoration-thickness : 2px;
}
.info {
	display: block;
}
.after, .ask {
	display: none;
}
section {
	width : 100%;
	height : 100%;
	background-color : white;
	text-align: center;
}
.buy{
	background-color :#e9e9e9;
	border: 1px solid #e1e1e1;
	position: fixed;
	bottom : 0;
	width : 1000px;
	height : 70px;
}
.two-buy{
	border-radius : 10px;
	margin: 7px 15px;
	width : 97%;
	height : 80%;
	display: inline-block;
	background-color : #ff661c;
}
.buy-price{
	position : relative;
	left: 470px;
	font-size : 20px;
	font-weight: 700;
	color : white;
}
.buy-go {
	position : relative;
	top : 22px;
	left: 360px;
	font-size : 15px;
	font-weight: 400;
	color : white;
}