@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
*{
	font-family :'Spoqa Han Sans', sans-serif ;
}
body {
	background-color : #f6f6f6;
	position: relative;
	height : 100%;
}
ul {
	list-style-type: none;
}
li {
	list-style-type: none;
	display: inline-block; 
}
.aaa {
	background-color : white;
	width : 1000px;
	height : 100%;
	margin : -17px auto;
}
.top {
	background-color : white;
	width : 1000px;
	height : 90px;
	border-bottom:3px solid #e1e1e1;
  	position : fixed;
  	top : 0;
  	z-index : 9999;
}
.top-screen {
	width : 100%;
	height : 103px;
}
/*���ΰ��� ��ư*/
.back-to-top {
  display: inline-block;
  background-color: #ebebeb;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  bottom: 90px;
  right: 150px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}
.back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #b1b1b1;
}
.back-to-top:hover {
  cursor: pointer;
  background-color: #ebebeb;
}
.back-to-top:active {
  background-color: #ebebeb;
}
.back-to-top.show {
  opacity: 1;
  visibility: visible;
}
.n-table.table-row .n-btn {
    margin: -5px 0;
}
.n-btn.w100 {
    min-width: 100px;
}
.n-btn.btn-default {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #000000;
}

.n-btn.btn-sm {
    min-width: 70px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif !important;
}
.n-table a, .n-table button {
    display: inline-block;
    vertical-align: middle;
}
.n-table button {
    font-family: inherit;
    display: inline-block;
}
.n-btn {
    display: inline-block;
    min-width: 100px;
    height: 40px;
    line-height: 36px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 2px 8px 0 8px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: border 0.2s, background 0.2s ease-in-out;
    -moz-transition: border 0.2s, background 0.2s ease-in-out;
    -o-transition: border 0.2s, background 0.2s ease-in-out;
    transition: border 0.2s, background 0.2s ease-in-out;
}
button {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    cursor: pointer;
    background: none;
}