.time-banner {
	width : 100%;
	height : 200px;
}
.ts-title {
	font-size: 25px;
    font-weight: bold;
    margin: 20px;
}
.ts {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.time-pro{
    width: 200px !important;
    margin: 5px 25px; 
    height: 352px;
    border-bottom: 2px solid #e1e1e1;
}
.ts-pro-img {
	height: 198px;
	margin: 5px;
}
.ts-pro-img img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.ts-pro-time {
	height: 28px;
	margin: 5px 8px;
	font-weight: 400;
	font-size: 19px;
    color: #4a15d3;
	border-bottom : 1px solid #e1e1e1;
}
.ts-pro-name {
	height: 50px;
	margin: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ts-pro-price {
	height: 50px;
	margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  .ts-price1 {
    order: 1;
    align-self: flex-start;
    font-size: 20px;
    color: red;
    font-weight: bold;
  }
  .ts-price2 {
    order: 2;
    align-self: center;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    color : black;
  }
  .ts-price4 {
    order: 3;
    text-decoration: line-through;
	color: darkgray;
    font-weight: 600;
  }
  .star {
  	order : 4;
  	font-weight: bold;
    font-size: 17px;
    color : black;
  }