<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kachi.five.PurchaseMapper">
  
    <!-- insert -->
	<insert id="insertPurchase" parameterType="Purchase">
	    INSERT INTO Purchase (userID, postID, userName, userEmail, userPhone, productName, productPrice, quantity, deliveryAddress, groupBuyId)
	    VALUES (#{userId}, #{postId}, #{userName}, #{userEmail}, #{userPhone}, #{productName}, #{productPrice}, #{quantity}, #{deliveryAddress}, #{groupBuyId})
	</insert>
	
	<!-- select -->
	<select id="selectPurchase" parameterType="int" resultType="Purchase">
	    SELECT * FROM Purchase WHERE purchaseID = #{purchaseId}
	</select>
	
	<select id="selectPurchasesByCompletedGroupBuy"  resultType="Purchase">
	    SELECT p.*
	    FROM purchase p
	    JOIN groupbuy g
	    ON p.groupBuyId = g.groupBuyID
	    WHERE g.status = 'completed'
	    ORDER BY p.deliveryStatus ASC
	</select>
	
	<select id="selectPurchasesByUserID"  resultType="Purchase">
		SELECT P.*, MainImage.imageUrl AS mainImageUrl , Post.price, Post.totalprice, Post.discountRate, Post.title
		FROM Purchase P
		JOIN Post ON P.postID = Post.postId
		JOIN MainImage ON Post.postId = MainImage.postId
	 	WHERE P.userID = #{userID};
	</select>
	<!-- update -->
	<update id="updatePurchase" parameterType="Purchase">
	    UPDATE Purchase
	    SET userID = #{userId}, postID = #{postId}, userName = #{userName}, userEmail = #{userEmail}, userPhone = #{userPhone}, 
	    productName = #{productName}, productPrice = #{productPrice}, quantity = #{quantity}, deliveryAddress = #{deliveryAddress}, groupBuyId = #{groupBuyId}
	    WHERE purchaseID = #{purchaseId}
	</update>
	
	<!-- delete -->
	<delete id="deletePurchase" parameterType="int">
	    DELETE FROM Purchase WHERE purchaseID = #{purchaseId}
	</delete>
	
	<update id="updateDeliveryStatus" parameterType="int">
	    UPDATE Purchase
	    SET deliveryStatus = true
	    WHERE purchaseID = #{purchaseId}
	</update>
	
	
</mapper>